<div
  class="flex items-center pl-3 gap-2 py-1 text-mainWhite bg-secondaryGray group cursor-pointer select-none"
  (click)="toggleTap()"
>
  <span class="transition-all" [ngClass]="{ 'rotate-90': tapOpen }">></span>
  <p>{{ tapInfo.tapName }}</p>
</div>
<div class="ml-6" [ngClass]="{ hidden: !tapOpen }">
  <a
    class="flex items-center gap-1 my-1 select-none"
    routerLink="/about/{{ tapInfo.as }}/{{ item.tapName }}"
    routerLinkActive="text-mainWhite"
    (click)="tapChanged(item.tapName)"
    *ngFor="let item of tapInfo.tapDropdownItems"
    ><mat-icon class="text-{{ item.tapIconColor }}">{{
      item.tapIcon
    }}</mat-icon>
    {{ item.tapName }}</a
  >
</div>
