<main class="lg:flex container height">
  <h1 class="text-mainWhite text-lg ml-3 my-3 lg:hidden">_projects</h1>
  <div class="lg:w-1/4 border-r border-secondaryGray">
    <app-dropdown></app-dropdown>
  </div>
  <div class="lg:w-3/4">
    <div class="h-10 border-b border-secondaryGray hidden lg:block">
      <div
        class="border border-secondaryGray w-max px-2 py-1 text-mainGray h-full"
      >
        React; <span>x</span>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-5 md:grid-cols-2 2xl:grid-cols-3 px-4 mt-2"
    >
      <app-project *ngFor="let project of projects" [projectData]="project">
      </app-project>
    </div>
  </div>
</main>
