<main class="lg:flex container">
  <h1 class="text-mainWhite text-lg ml-3 my-3 lg:hidden">_about-me</h1>
  <div class="lg:w-1/4 border-r border-secondaryGray lg:h-[calc(100vh-7rem)]">
    <app-dropdown
      *ngFor="let tap of taps"
      (tapEvent)="changeTap($event)"
      [tapInfo]="tap"
    ></app-dropdown>
    <!-- <app-dropdown *ngFor="let tap of taps" [tapInfo]="tap"></app-dropdown>
    <app-dropdown *ngFor="let tap of taps" [tapInfo]="tap"></app-dropdown> -->
  </div>
  <div class="lg:w-3/4">
    <div class="h-10 border-b border-secondaryGray hidden lg:block">
      <div
        class="border border-secondaryGray w-max px-2 py-1 h-full text-mainGray"
      >
        {{ currentTap }}; <span>x</span>
      </div>
    </div>
    <div class="ml-4 mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
