<header
  id="mobile__header-close"
  class="flex items-center justify-between px-4 py-5 lg:py-0 text-lg border-b border-b-[#1E2D3D]"
>
  <div class="flex items-center">
    <h1 class="mr-36">mohamed-mamluk</h1>
    <div class="flex">
      <a
        class="hidden lg:block text-mainGray text-lg border-l transition-all hover:bg-secondaryGray border-[#1E2D3D] px-8 py-5"
        routerLink="/home"
        routerLinkActive="active_link"
        >_hello</a
      >
      <a
        class="hidden lg:block text-mainGray text-lg border-l border-[#1E2D3D] px-8 py-5 transition-all hover:bg-secondaryGray"
        routerLinkActive="active_link"
        routerLink="about/personal/bio"
        >_about-me</a
      >
      <a
        class="hidden lg:block text-mainGray text-lg border-l border-r border-[#1E2D3D] px-8 py-5 transition-all hover:bg-secondaryGray"
        routerLinkActive="active_link"
        routerLink="/projects"
        >_projects</a
      >
    </div>
  </div>
  <div class="w-[18px] lg:hidden" (click)="toggleMenu()">
    <span class="w-full block h-0.5 bg-mainGray mb-1"></span>
    <span class="w-full block h-0.5 bg-mainGray mb-1"></span>
    <span class="w-full block h-0.5 bg-mainGray"></span>
  </div>
  <a
    class="hidden lg:block text-mainGray text-lg border-l border-[#1E2D3D] pl-8 pr-4 py-5 transition-all hover:bg-secondaryGray"
    routerLinkActive="active_link"
    routerLink="/contact"
    >_contact-me</a
  >
</header>
<div id="monile__menu" *ngIf="isMenuOpen" class="fixed inset-0 z-10 bg-mainBG">
  <div
    class="px-4 flex py-5 text-lg border-b border-b-[#1E2D3D] items-center justify-between"
    id="mobile__header-open"
  >
    <h1 class="">mohamed-mamluk</h1>
    <div class="w-[18px]" (click)="toggleMenu()">X</div>
  </div>
  <div class="flex flex-col justify-between h-[92%]">
    <div>
      <a
        class="block px-4 text-mainWhite py-5 text-lg border-b border-b-[#1E2D3D]"
        *ngFor="let item of items"
        (click)="toggleMenu()"
        [routerLink]="item.path"
        >{{ item.name }}</a
      >
    </div>
  </div>
</div>
