<div
  id="hero"
  class="border border-red-600 pl-7 h-[calc(100vh-5rem)] flex flex-col justify-evenly"
>
  <div class="">
    <span class="text-lg text-mainWhite mb-5 block">Hi all. I am</span>
    <h1 class="text-6xl text-mainWhite mb-5">
      Mohamed<br />
      Mamluk
    </h1>
    <span class="text-mainGreen text-xl">> Front-end developer</span>
  </div>
  <h1 class="text-white">
    <span class="text-mainBlue">const </span>
    <span class="text-mainGreen">githubLink</span> =
    <span class="text-mainPink">“https://github.com/example/url”</span>
  </h1>
</div>
