<!-- <p>home works!</p>
<div id="blue"></div>
<div id="green"></div>
<h1 class="text-white">
  <span class="text-mainBlue">const </span>
  <span class="text-mainGreen">githubLink</span> =
  <span class="text-mainPink">“https://github.com/example/url”</span>
</h1> -->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae soluta
culpa at cum, voluptatem, excepturi officiis ea, quaerat eum ad nulla? Harum,
fuga laborum. Culpa iste dignissimos neque dolorum asperiores sequi repellendus
recusandae hic iure quis nam, accusamus illo earum odio ad vero vel. Id et
perferendis veniam laborum aut debitis omnis ut fuga ad sit, vel iure modi,
harum quidem impedit quibusdam! Natus optio minus saepe, asperiores accusantium
a rem. Exercitationem cumque quo, sint dolores distinctio expedita voluptatem
voluptatibus ullam reprehenderit voluptate odio eaque dolor eligendi doloremque
quam officiis consequatur sit voluptatum accusantium dolore, optio illo. Eum ut
delectus laborum quas cumque aperiam nemo minus harum, molestiae asperiores illo
ex explicabo illum sed at voluptatibus consectetur possimus obcaecati temporibus
dolor deleniti voluptas iure? Sint error neque facere commodi! Corrupti
necessitatibus quidem delectus earum facilis fuga incidunt, provident explicabo,
accusantium eum, quibusdam aliquam autem dolorum? Laborum accusantium accusamus
voluptatibus ad sequi repellat, ut iure vero expedita autem voluptas dolores
facilis inventore nisi, alias officiis rem quisquam atque assumenda cupiditate
harum! Voluptate dolor quisquam nostrum tempore! Ea dolores laborum repellat
iure vero hic quis obcaecati fuga exercitationem consequuntur culpa soluta
repudiandae dolorum, ut repellendus ducimus quae corrupti dolore neque
perferendis cumque eum error adipisci veniam! Animi impedit dicta totam mollitia
voluptatum quia voluptas, eveniet sed voluptates. Officia vel nisi at, quaerat
rem optio magni, similique amet rerum consectetur odit perferendis reiciendis
necessitatibus iusto deleniti dicta. Nesciunt numquam sunt commodi ipsa id
expedita veniam mollitia quidem error! Repudiandae odit nobis illo deserunt
consequatur animi recusandae, eveniet ullam. Nulla aspernatur dolores tempore
eligendi non vitae ex. Exercitationem repellendus et natus fugiat ipsum dolorem
dolor sit asperiores officia officiis dolorum repudiandae, quibusdam debitis
eveniet corrupti excepturi reprehenderit eum quis! Possimus vitae sequi
excepturi quia harum id iure qui laboriosam magnam dolore? Distinctio voluptates
voluptatibus aspernatur explicabo molestias eum harum facere similique, vero a
nesciunt nobis iure cum. Tempora neque commodi doloribus error asperiores cumque
nisi exercitationem, ullam tempore, reiciendis laborum ipsam quia corporis
itaque corrupti provident sint. Modi ipsa accusamus molestiae voluptates
veritatis! Corrupti vel quaerat ipsa deleniti sint ullam quam unde earum, ipsam
rerum dolor tempore ab quasi consequatur nobis praesentium dolorum fugiat,
accusantium cupiditate eos. Nam fugit, sapiente, ullam pariatur natus ipsa quod
nihil modi inventore quibusdam corporis repellat maxime itaque at officia veniam
obcaecati ipsam fuga, quidem quisquam vel cumque tempore? Corrupti, enim soluta?
Laborum sed nihil recusandae obcaecati necessitatibus neque eveniet sequi unde.
Atque explicabo temporibus ipsam distinctio eius, nemo fugit sint quia dolorem
asperiores et, unde saepe facilis. Quam, quas cumque. Molestiae ad qui facere
hic eveniet? Reprehenderit nisi eos est dolor magni saepe repellat et officiis,
ducimus ut repellendus laborum, adipisci harum numquam voluptates expedita
aliquid voluptatibus fugit nihil modi minima veritatis praesentium. Saepe
obcaecati voluptatibus assumenda ea, fuga sequi numquam ipsum minus soluta
blanditiis iusto vero ducimus libero dolor perspiciatis aliquid, est nobis,
fugiat explicabo in labore amet? Quasi molestiae in doloremque nesciunt, omnis,
culpa vero quam dignissimos, alias quae ullam. Repudiandae cupiditate voluptas,
repellat voluptate qui vero excepturi corporis quis molestias dolore
dignissimos? Laboriosam soluta commodi suscipit officiis obcaecati dicta, quidem
aspernatur excepturi aliquid fugiat at id, sequi numquam ea alias, itaque
laudantium? Quae enim nostrum architecto illum nesciunt recusandae voluptatem
eum et optio eius in, quidem explicabo corporis. Hic natus expedita doloribus
non reprehenderit exercitationem quis illo sunt dolore, incidunt accusantium
eum, inventore nihil earum delectus in optio beatae mollitia aliquam architecto
a ut dicta! Praesentium consectetur ducimus officia sit cupiditate dicta
suscipit laudantium! Aut accusamus a ipsum facere! Minus expedita incidunt
minima omnis et voluptates ipsam, odit deserunt aliquid neque nesciunt atque
error alias sit provident accusamus! Tempore voluptatem temporibus vero fuga
molestiae autem, culpa obcaecati harum quidem facere officiis, vitae ducimus
magnam. Quam quae consequuntur quidem veritatis rem! Autem delectus
exercitationem, veritatis cupiditate ea quis. Incidunt suscipit quaerat adipisci
sequi at ratione officia, consequuntur laudantium laboriosam blanditiis esse
delectus aut quis nihil cum minima repudiandae reprehenderit! Quae praesentium
odio eaque dolores, cum eveniet eum accusantium debitis, blanditiis velit
laborum fugit ullam laudantium minus? Est odio nesciunt non sed, optio
reiciendis magni, quidem cumque iure voluptatem ipsam cupiditate eaque dolorum
vero libero earum atque saepe ullam dicta nulla! Tempora veritatis, quidem
adipisci odio, in quisquam ex sapiente aliquid porro voluptatum accusamus
pariatur ratione nostrum cupiditate repudiandae. Consequatur praesentium nostrum
eum repellendus totam quis vel illum debitis a? Sint non accusantium animi quia
inventore quo rem quos, maiores accusamus tempore cum ullam distinctio
laudantium dolorem minima nobis quam aut exercitationem sunt tempora? Laudantium
repudiandae eaque perspiciatis ipsum dolorem, fugiat fugit sapiente porro dolore
quam iure laborum perferendis tenetur eius sequi exercitationem, consequuntur
obcaecati quia odio voluptatum? Cumque, beatae. Ipsa eligendi aut laboriosam.
Quaerat similique corrupti eveniet eius veniam, quas deleniti iusto est nobis
iste unde ad officia quibusdam totam, alias dolore ipsum expedita quae odio hic
perspiciatis maiores at. Illo magni odio provident illum. Numquam saepe nisi
consectetur expedita, nostrum id autem, necessitatibus laudantium excepturi
aspernatur est mollitia quod repellat voluptatibus soluta nam, exercitationem
praesentium? Praesentium veritatis sequi deserunt sunt tenetur autem qui neque
ullam consequatur delectus, alias possimus recusandae temporibus officiis
perspiciatis sapiente? Molestiae culpa expedita mollitia facilis dolorum nemo
odit tempore doloremque excepturi provident facere dolor accusantium nulla
labore, vel voluptate, modi voluptates consequatur distinctio id nam fugit
eligendi! Ab delectus minus obcaecati accusantium magnam quisquam aspernatur,
commodi tempore praesentium iure, in tempora rem. Voluptatum nostrum facere,
architecto animi id non nihil, ex, ratione dolores incidunt laboriosam! Rerum,
ea dolor asperiores aliquam rem aut architecto quisquam culpa? Atque veniam
dicta qui est voluptatum laudantium! Minima optio laudantium voluptatum! Placeat
velit ducimus voluptatem earum! Tempora odio dolores optio impedit, soluta
corrupti exercitationem quibusdam minus ab suscipit officia possimus quos totam
dolor beatae repudiandae voluptates maxime et. Labore voluptatem incidunt velit
praesentium autem ullam, aliquam consequatur corrupti laboriosam totam ipsa! Eum
est harum, suscipit expedita aperiam quia enim consectetur, nemo nulla voluptate
illum placeat adipisci aliquam quidem! Laboriosam nulla incidunt dolorum, quis
tenetur ratione in? Enim dolore modi iusto fugiat tempore quod eius. Iusto
dolorem ea aut non illum deleniti corrupti accusamus incidunt. Nobis repellat
rerum aperiam nesciunt asperiores, tempore ut quo eligendi omnis fugit labore
aliquid quos inventore nulla quam beatae impedit enim porro hic reiciendis dicta
sed ex ipsum natus? Quaerat ea neque inventore aut amet reiciendis quibusdam
vero cumque impedit culpa. Esse pariatur cupiditate enim labore fuga, beatae
dolor ea veniam maxime! Ut dicta eligendi sint sed in nulla totam repudiandae?
Accusamus vel maiores quos incidunt ad tempora doloribus a, voluptas nulla
voluptate id fugit deserunt porro ut autem harum amet numquam culpa architecto.
Tempora vitae obcaecati quos repellendus cum dicta nam aspernatur commodi
aliquam vel asperiores placeat deleniti, natus, ex enim optio? Fugiat neque
tempore, delectus, hic qui deserunt iste dolor quaerat nobis sed eveniet minus
non porro velit voluptatibus expedita veniam ex quisquam aliquid aliquam nisi?
Illo laborum obcaecati sapiente atque. Sapiente tempore harum quas ex fugit
commodi ea accusantium pariatur officia? Vel sunt deleniti, omnis saepe eveniet
vitae quo, quas a minus consequuntur quibusdam soluta excepturi! Repellendus
officiis placeat velit quidem corporis fuga, quia eligendi sunt incidunt maxime.
Eveniet iusto dignissimos est, expedita excepturi quas iure inventore nam dicta
voluptate sint obcaecati sit nostrum, aliquid nulla voluptatum velit eius quis
repellat, eligendi natus quod! Suscipit, voluptatibus exercitationem pariatur
sint fugiat labore asperiores assumenda amet deleniti tempore doloremque
excepturi maiores nihil delectus earum facilis ratione laborum. Nostrum placeat
temporibus, voluptates natus necessitatibus distinctio cupiditate aliquam soluta
inventore nihil eligendi perferendis quis excepturi eos provident optio! Aperiam
inventore excepturi, quo voluptas quibusdam voluptatibus distinctio molestiae
recusandae dolorum similique assumenda soluta provident nam non libero nulla
quia enim odio eaque. Eligendi illo voluptatem suscipit assumenda quae qui
reprehenderit, amet recusandae libero aliquam, placeat aliquid consectetur eum
deserunt iste natus, animi cupiditate! Non excepturi doloribus inventore ipsa
facere corporis impedit libero reiciendis asperiores modi voluptatem cumque
autem nostrum odit dolor, perferendis saepe ad a aliquid rerum repellendus
tempora atque enim est? Fugiat atque, aliquid rem necessitatibus et perferendis
molestias suscipit magnam porro? Veniam nam qui odio praesentium. Quia
exercitationem asperiores vitae iure nostrum, repudiandae laudantium cupiditate
eveniet, consequuntur nesciunt voluptatibus temporibus, nemo excepturi rerum hic
odit impedit laboriosam sit magnam natus assumenda quaerat veniam aliquam est!
Delectus aliquam praesentium sint. Aperiam, cupiditate! In earum, asperiores
alias doloribus totam dicta corporis impedit ipsum accusantium, natus culpa,
minima officia sapiente dolore voluptatum hic fugit accusamus aut aspernatur.
Officia, fugiat repellat. Eos soluta ea asperiores tempora hic exercitationem
ducimus perferendis voluptate pariatur, cum rem voluptatem praesentium quia
veritatis eius cupiditate nesciunt fuga optio voluptates corrupti expedita
voluptas recusandae repellendus. Maxime neque minima enim, excepturi harum illum
dicta ipsam cupiditate blanditiis. Unde exercitationem voluptas nam accusamus
facere, libero sunt? Quod vel laboriosam, aliquam voluptas velit deleniti, sint
ut nostrum fugit illum, earum repellendus illo ipsa! Repudiandae ad ut
assumenda, commodi labore atque quia distinctio nihil ipsum incidunt! Provident
inventore nostrum expedita. Quos ea nostrum odit? Tempore quos deleniti eos iure
dolor est temporibus quo ducimus quidem sint. Quam voluptatem ad temporibus
iusto optio, molestiae facere asperiores qui id? Earum ab iusto ipsa officia
odio error, eius consequatur inventore, quam dolores minus maxime, veritatis
voluptate iure. Facilis esse non rem voluptatum fuga asperiores sed tempora est,
consequuntur corporis quia quam ad deserunt pariatur reiciendis et ea dolor
natus impedit laborum ut. Tenetur, explicabo. Architecto nisi ipsam eveniet at
magnam facere omnis nesciunt maiores, exercitationem corrupti nam pariatur autem
eaque! Veniam, nisi numquam praesentium voluptate consequuntur voluptatum
dolorum, rem corrupti blanditiis obcaecati eveniet repudiandae ad sequi?
Blanditiis, recusandae! Et libero asperiores totam error blanditiis, consectetur
qui unde nihil natus iure aperiam obcaecati aliquid, laudantium laboriosam,
quasi quas architecto. Amet voluptatibus sit ad quos, natus harum neque ipsa sed
modi. Mollitia, excepturi? Tempore quibusdam eius maiores necessitatibus, rerum
ut obcaecati placeat reiciendis dignissimos voluptates mollitia? Eveniet
laboriosam dolorem obcaecati fugiat in pariatur sint animi cum aspernatur
placeat qui, iste unde iusto nihil laborum dolore magni officiis voluptates
natus quaerat, esse odit. Distinctio, mollitia enim delectus aperiam facilis
atque reprehenderit? Ullam illo officiis, quibusdam, sunt suscipit eius rem,
temporibus possimus vitae culpa ipsum ex accusamus tenetur in. Amet quidem vitae
eveniet illo. Sit obcaecati dicta est! Odit et sapiente sit? Nisi culpa cumque
explicabo mollitia illo, maxime provident voluptate dicta iure pariatur
inventore sapiente reiciendis corrupti, libero minus velit modi accusantium
commodi doloremque temporibus iste eveniet, quia fugiat perferendis! Natus
consequuntur, aspernatur quisquam exercitationem eos facere, quo nisi officia a
enim esse dolore quaerat quos eveniet voluptas quidem fuga vel commodi? Numquam
quasi non facere suscipit, quis optio? Excepturi aliquid labore earum atque
ipsam harum nulla quasi esse perspiciatis, illo, molestiae velit ea maxime odit
quam inventore at tempore illum quis totam! Alias nihil, tempore qui, magnam eum
iure neque quasi repudiandae harum ullam in unde exercitationem, non sequi illo.
Provident laboriosam quisquam dignissimos quae totam non quis odio corporis
quaerat mollitia tempore expedita nostrum reprehenderit eos quas ipsa obcaecati
corrupti debitis, animi quos deserunt vero alias dolorum consequuntur! Vero
nostrum dolorum nulla? Ipsa dolorum maxime deserunt aliquam vel repudiandae
incidunt inventore provident quas quia rerum quaerat, corrupti aliquid id
laudantium qui illum exercitationem enim fuga tempora impedit modi. Eum
dignissimos voluptas qui libero ut laboriosam quaerat impedit, hic aut, vero
quas eaque ipsa porro autem aperiam quibusdam ipsum? Voluptatum assumenda
ducimus ut tenetur maxime nulla dolor distinctio consectetur veniam perferendis
tempora excepturi sequi numquam qui sed doloremque aliquam, hic sit ullam
maiores neque placeat perspiciatis temporibus officia. Exercitationem aspernatur
quibusdam ex illo non pariatur asperiores? Nemo corrupti quo at natus ipsam illo
assumenda maxime corporis quia, dicta error repellendus itaque ratione nulla
iusto soluta deleniti similique vitae eum eos est voluptatibus! Odio obcaecati
perspiciatis qui nesciunt unde corrupti, quia esse modi adipisci veniam facilis
quaerat placeat mollitia minima? Nulla cum illo libero nihil consequatur facilis
eum temporibus veritatis itaque fugiat nisi voluptate minus, recusandae incidunt
maxime quisquam corporis, adipisci ex? Odio vero recusandae alias reiciendis
voluptas vel veritatis fuga! Vero illum magnam nostrum, non animi blanditiis
molestias at ad mollitia alias iure minima, nihil voluptatum eaque enim ipsam,
itaque labore.
