#blue {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  left: 175.42px;
  top: 250.88px;

  background: #4d5bce;
  opacity: 0.4;
  filter: blur(174px);
  transform: rotate(13.51deg);
}
#green {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  left: 4.19px;
  top: 437.73px;

  background: #43d9ad;
  opacity: 0.4;
  filter: blur(174px);
  transform: rotate(-94.3deg);
}
