<div class="h-[100vh-5rem] pl-2">
  <p class="">
    <span class="text-mainPurple mr-2">const</span>
    <span class="text-mainBlue mr-2">button</span>
    <span class="text-mainPurple mr-2">=</span>
    <span class="text-mainBlue">document.querySelector</span>
    <span class="text-mainOrange">('#sendBtn')</span>;
  </p>
  <div>
    <span class="text-mainPurple mr-2">const</span>
    <span class="text-mainBlue mr-2">message</span>
    <span class="text-mainPurple mr-2">=</span>{{ "{" }}<br />
    <div class="ml-2">
      <div>
        <span class="text-mainBlue mr-2">name:</span>
        <span class="text-mainOrange">"{{ name }}"</span>,
      </div>
      <div>
        <span class="text-mainBlue mr-2">email:</span>
        <span class="text-mainOrange">"{{ email }}"</span>,
      </div>
      <div class="">
        <span class="text-mainBlue mr-2">message:</span>
        <span class="text-mainOrange px-6">"{{ message }}"</span>,
      </div>
    </div>
    <br />{{ "}" }}
  </div>
  <div>
    <span class="text-mainBlue">button</span>.<span class="text-mainBlue"
      >addEventListener</span
    >(<span class="text-mainOrange">'click'</span>, ()
    <span class="text-mainPurple">=></span>{{ "{" }} <br />
    <span class="text-mainBlue">form</span>.<span class="text-mainBlue"
      >send</span
    >(<span class="text-mainBlue">message</span>)})
  </div>
</div>
