<div id="green" class="lg:hidden"></div>
<div id="blue" class="lg:hidden"></div>
<div class="">
  <span class="text-lg text-mainWhite mb-5 block">Hi all. I am</span>
  <h1 class="text-6xl text-mainWhite mb-5">
    Mohamed<br />
    Mamluk
  </h1>
  <span class="text-mainGreen lg:text-mainBlue text-xl"
    >> Front-end developer</span
  >
</div>
<div class="space-y-2">
  <p class="text-mainGray">// find my profile on Github:</p>
  <p class="text-white">
    <span class="text-mainBlue">const </span>
    <span class="text-mainGreen">githubLink</span> =
    <a
      class="pr-3 text-sm sm:text-base text-mainPink hover:text-pink-600"
      href="https://github.com/MohamedMamlokAli"
      target="_blank"
      >“https://github.com/MohamedMamlokAli”</a
    >
  </p>
</div>
