@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace;
    background: #011627;
    color: #607b96;
  }
}

.active_link {
  @apply text-mainWhite  border-b-mainOrange border-b-2;
}
#blue {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  left: 175.42px;
  top: 30%;

  background: #4d5bce;
  opacity: 0.4;
  filter: blur(150px);
  transform: rotate(13.51deg);
}
#green {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  left: 4.19px;
  top: 10%;

  background: #43d9ad;
  opacity: 0.4;
  filter: blur(150px);
  transform: rotate(-94.3deg);
}
#blue-right {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  right: 205.42px;
  top: 10%;

  background: #4d5bce;
  opacity: 0.4;
  filter: blur(150px);
  transform: rotate(13.51deg);
}
#green-right {
  position: absolute;
  width: 255.65px;
  height: 277.05px;
  right: 4.19px;
  top: 20%;

  background: #43d9ad;
  opacity: 0.4;
  filter: blur(150px);
  transform: rotate(-94.3deg);
}
