<div class="text-mainGray px-2 space-y-4">
  <h1 class="text-mainWhite">
    // personal-info <span class="text-mainGray">/ education</span>
  </h1>
  <div class="space-y-2" *ngFor="let item of education">
    <p class="text-mainGreen">{{ item.educationType }}</p>
    <p class="text-mainPink">{{ item.place }}</p>
    <div class="flex items-center gap-1">
      <mat-icon class="text-lg text-mainWhite">calendar_today</mat-icon>
      <span class="text-mainOrange">{{ item.duration.from }}</span> -
      <span class="text-mainOrange">{{ item.duration.to }}</span>
    </div>
  </div>
</div>
